{% extends "nav_base.html" %}
{% load static %}

{% block head %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
	<link rel="stylesheet" href="{% static 'map/css/map.css' %}">
	<link rel="stylesheet" href="https://cache.amap.com/lbs/static/main1119.css"/>
	<style type="text/css">
		body, html,#allmap {width: 100%;height: 100%;}
	</style>
	<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.10&key=0fafb3559f5e64761e431bf03fabb696"></script>
{% endblock head %}

{% block content %}
	<div id="allmap">
		<div class="float-top">
		<table>
        <tr>
            <td>
                <label>请输入关键字：</label>
            </td>
        </tr>
        <tr>
            <td>
                <input id="tipinput"/>
            </td>
        </tr>
    	</table>
		</div>
	</div>
	
	<script type="text/javascript">
		var map = new AMap.Map('allmap', {
	        zoom:11,//级别
	        center: [116.397428, 39.90923],//中心点坐标
	        viewMode:'3D'//使用3D视图
    	});
    	AMap.plugin('AMap.Geolocation', function() {
		  var geolocation = new AMap.Geolocation({
		    // 是否使用高精度定位，默认：true
		    enableHighAccuracy: true,
		    // 设置定位超时时间，默认：无穷大
		    timeout: 10000,
		    // 定位按钮的停靠位置的偏移量，默认：Pixel(10, 20)
		    buttonOffset: new AMap.Pixel(10, 20),
		    //  定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
		    zoomToAccuracy: true,     
		    //  定位按钮的排放位置,  RB表示右下
		    buttonPosition: 'RB'
		  });

		  map.addControl(geolocation);
		  geolocation.getCurrentPosition();
		  AMap.event.addListener(geolocation, 'complete', onComplete);
		  AMap.event.addListener(geolocation, 'error', onError);

		  function onComplete (data) {
		    // data是具体的定位信息
		  }

		  function onError (data) {
		    // 定位出错
		  }
		});
	</script>
{% endblock content %}